html {
  font-size: 62.5%;
}
html,
body,
div,
section,
main,
header,
footer,
nav,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
button,
a,
input,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(95%);
}

input {
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  outline: none;
  border: none;
  background-color: #f3f3f3;
}

ul,
li,
dl {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 120rem;
  margin: 0 auto;
}
